services:
  netbox:
    image: netboxcommunity/netbox:latest
    depends_on:
      - postgres
      - redis
      - redis-cache
    ports:
      - 38080:8080
    env_file:
      - netbox/env/netbox.env
    volumes:
      - ./netbox/data/media:/opt/netbox/netbox/media
    restart: unless-stopped

  netbox-worker:
    image: netboxcommunity/netbox:latest
    command: /opt/netbox/venv/bin/python /opt/netbox/netbox/manage.py rqworker
    depends_on:
      - netbox
    env_file:
      - netbox/env/netbox.env
    restart: unless-stopped

  netbox-housekeeping:
    image: netboxcommunity/netbox:latest
    command: /opt/netbox/housekeeping.sh
    depends_on:
      - netbox
    env_file:
      - netbox/env/netbox.env
    restart: unless-stopped

  netbox-mcp:
    build: ./netbox-mcp
    depends_on:
      - netbox
    ports:
      - "38001:8000"
    env_file:
      - netbox-mcp/.env
    restart: unless-stopped

  llm-client:
    build: ./llm-client
    depends_on:
      - netbox-mcp
    network_mode: "host"
    env_file:
      - llm-client/.env
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    
  postgres:
    image: postgres:15-alpine
    env_file:
      - netbox/env/postgres.env
    volumes:
      - ./netbox/data/postgres:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    command: sh -c 'redis-server --appendonly yes --requirepass $$REDIS_PASSWORD'
    env_file:
      - netbox/env/redis.env
    volumes:
      - ./netbox/data/redis:/data
    restart: unless-stopped

  redis-cache:
    image: redis:7-alpine
    command: sh -c 'redis-server --requirepass $$REDIS_PASSWORD'
    env_file:
      - netbox/env/redis.env
    volumes:
      - ./netbox/data/redis-cache:/data
    restart: unless-stopped
